.header-main
  .header-main-logo
    = image_tag 'logo.png'
  %ul.header-icon-nav
    %li.icon-nav__list.membership-register
      %a
        今すぐ会員登録
    %li.icon-nav__list.membership-login
      %a
        ログイン
    %li.icon-nav__list.icon-want
      %a
        = fa_icon 'heart'
    %li.icon-nav__list.icon-cart
      %a
        = fa_icon 'shopping-cart'
    %li.icon-nav__list.icon-question
      %a
        = fa_icon 'question'